@import "tailwindcss";

:root{
  --primary:#6C3BFF;
  --secondary:#8B5CFF;
  --dark:#0F0F12;
  --light:#FFFFFF;
  --gray:#B5B5B5;
}

body{
  background:#0F0F12;
  color:white;
  font-family:Arial, Helvetica, sans-serif;
}

.glass{
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(10px);
  border:1px solid rgba(255,255,255,0.1);
}

.primary-btn{
  background:linear-gradient(to right,#6C3BFF,#8B5CFF);
  color:white;
  padding:12px 24px;
  border-radius:14px;
  transition:0.3s;
}

.primary-btn:hover{
  transform:scale(1.05);
}